<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        
        <div class="form-group">
          <label for="numero">Número</label>
          <input
            class="form-control"
            id="numero"
            required
            [(ngModel)]="exemplar.numero"
            name="numero"
          />
        </div>


        <div class="form-group">
            <label for="isbn">ISBN</label>
            <input
              class="form-control"
              id="isbn"
              required
              [(ngModel)]="exemplar.isbn"
              name="isbn"
            />
          </div>

   

          <div class="form-group">
            <label for="preco">Preco</label>
            <input
              class="form-control"
              id="preco"
              required
              [(ngModel)]="exemplar.preco"
              name="preco"
            />
          </div>

        
  
        <button (click)="saveExemplar()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Exemplar was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newExemplar()">Add</button>
      </div>
    </div>
  </div>
  