
<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Biblioteca</a>
    <div       class="navbar-nav mr-auto">
      
      
  

      <li  *ngIf="funcao && funcao === 'gerente'" class="nav-item">
       
        <a routerLink="addFuncionario" class="nav-link">Add Funcionario</a>
        

      </li>

      <li  *ngIf="(funcao && funcao === 'gerente') || associado" class="nav-item">
       
        <a routerLink="publicacaoList" class="nav-link">Listar Publicacao</a>
        

      </li>

      
      <li *ngIf="codigoAtor" class="nav-item">
        <a routerLink="addAssociado" class="nav-link">Add Associado</a>
        <a routerLink="addPublicacao" class="nav-link">Add Publicacao</a>
        

      </li>


      <li *ngIf="codigoAtor" class="nav-item">
        <a routerLink="addReserva" class="nav-link">Add Reserva</a>
        <a routerLink="anularReserva" class="nav-link">Anular Reserva</a>
        <a routerLink="addExemplar" class="nav-link">Add Exemplar</a>
      </li>

      <li *ngIf="codigoAtor" class="nav-item">
       
        <a routerLink="addEmprestimo" class="nav-link">Add Emprestimo</a>
        <a routerLink="devolverEmprestimo" class="nav-link">Devolver Emprestimo</a>
        <a routerLink="atrasadoEmprestimo" class="nav-link">Emprestimos atrasados</a>
      </li>

     


      <li  class="nav-item">
       
        <a *ngIf="!codigoAtor" routerLink="funcionarioLogin" class="nav-link">Acesso para funcionários</a>
        <a *ngIf="codigoAtor || associado" routerLink="funcionarioLogout" class="nav-link">Logout</a>
      </li>
  
      

    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>




  
</div>


